/* Import Google Font - Raleway */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

body {
    background-color: rgb(165, 165, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}