/* Import Google Font - Raleway */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #554C3F;
    
}

body {
    background-color: #B0C8A5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;   
}

/* Main Container */

.container {
    height: 350px;
    width: 600px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px 50px 20px;
}

.container header {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.container .content {
    margin: 30px 0 30px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: inherit;
    height: inherit;
}

/* Quotation mark styling */

.quote-area i {
    font-size: 15px;
    color: #F19C25;
}

.quote-area i:first-child {
    margin: 3px 10px 0 0;
    width: fit-content;
    height: fit-content;
}

.quote-area i:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}

/* Quote / Joke Content Area  */

.quote-area .quote.text {
    font-size: 25px;
    text-align: center;
    word-break: break-all;
}

/* Author  */

.content .author {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0 0;
    font-style: italic;
    font-size: 12px;
}
.content span:first-child {
    margin-right: 5px;
    font-family: monospace;
    letter-spacing: 0.5px;
    margin: -6px 2px 20px 0;
}

/* Copy Button  */

.content .copy-me {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0;
    border-top: 1px solid #554C3F;
}

.copy-me i {
    border: solid 1.5px #554C3F;
    padding: 5px;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-me i:hover {
    background-color: #797062;
    transition: all 0.3s ease-out;
    color: whitesmoke;
    cursor: pointer;
}

/* Buttons  */

.buttons-container {
    height: 30px;   
    width: 600px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons * {
    background-color: #554C3F;
    border: none;
    border-radius: 20px;
    color: #B0C8A5;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.buttons *:hover{
    background-color: #797062;
    transition: all 0.3s ease-in-out;
    
}

.buttons.loading {
    opacity: 0.7;
    pointer-events: none;
    color: #F19C25;
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
